@use "variables" as*;

body {
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
    background-color: $azuloscuro;
    /* Fondo oscuro */
    color: $amarillo2;
    /* Texto amarillo */

    main {


        .card {
            background-color: $amarillo;
            color: $negro;
            border: 2px solid $negro;
            border-radius: 5px;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
        }


        
        .contenedor {
            display: grid;
            grid-template-areas:

                "titulo titulo titulo"
                "subtitulo subtitulo subtitulo"
                "spotify descripcion descripcion"
                "expertos imagen1 imagen1"
                "expertos imagen1 imagen1"
                "imagen2 imagen2 expertos2"
                "footerlista nada nada";

            grid-template-columns: 40% 20% 25%;

            grid-template-rows: 110px 100px 230px 80px 300px 400px;

            justify-content: center;

            justify-items: center;

        }

        .titulo {
            padding-top: 30px;
            grid-area: titulo;
            color: $amarillo;
            font-size: 40px;
            text-shadow: 2px 2px 4px $blanco;
            justify-content: center;
            align-items: center;
            padding-left: 20px;

        }

        .subtitulo {
            grid-area: subtitulo;
            color: $amarillo;
            font-size: 30px;
            text-shadow: 2px 2px 4px $rojo;
            padding-left: 20px;
        }

        .spotify {
            grid-area: spotify;
            color: $amarillo;
            font-size: 100px;
        }

        .descripcion {
            grid-area: descripcion;
            color: $amarillo;
            font-size: 20px;
            object-fit: contain;
            padding-left: 20px;
        }

        .descripcionc {
            grid-area: descripcion;
            color: $amarillo;
            font-size: 20px;
            text-align: justify;
            padding-left: 20px;
            display: flex;
        }

        .expertos {
            grid-area: expertos;
            color: $amarillo;
            font-size: 20px;
            object-fit: contain;
            padding-left: 20px;
        }

        .expertos2 {
            grid-area: expertos2;
            color: $amarillo;
            font-size: 20px;
            object-fit: contain;
            padding-left: 20px;
        }

        .imagen1 {
            grid-area: imagen1;
            width: 50%;
            height: auto;
            object-fit: contain;


        }

        .imagen2 {
            grid-area: imagen2;
            width: 10%;
            object-fit: contain;
        }


        .contenedor img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: contain;

        }



        .resaltar {
            color: $blanco;
            font-weight: bold;
        }

        --------
        /*flexbox*/


        .accordion-item {
            background-color: $amarillo;
            color: $negro;
            border: 2px solid $negro;
            border-radius: 5px;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
        }


        .contenedor2 {
            display: grid;
            grid-template-areas:
                "titulopf titulopf titulopf"
                "giratiempo descripcionpf descripcionpf"
                "giratiempo descripcionpf descripcionpf"
                "accordion accordion accordion"
                "accordion accordion accordion"
            ;

            grid-template-columns: 30% 30% 30%;

            grid-template-rows: 80px 80px 150px 200px 200px;

            justify-content: center;

            justify-items: center;
        }

        .titulopf {
            grid-area: titulopf;
            color: $amarillo;
            font-size: 40px;
            text-shadow: 2px 2px 4px $blanco;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-left: 20px;
        }

        .giratiempo {
            grid-area: giratiempo;
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 10px;
        }

        .descripcionpf {
            grid-area: descripcionpf;
            color: $amarillo;
            font-size: 20px;
            text-align: justify;
            padding: 10px;
            display: flex;
        }

        .accordion {
            grid-area: accordion;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .accordion-item {
            background-color: $amarillo;
            border-color: $amarillo2;
            border-bottom: $rojo;
        }

        .accordion-header {
            background-color: $amarillo;
        }

        div .accordion-button {
            border-color: $negro;
            background-color: $amarillo;
        }

        .contenedor2 img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: contain;
        }




        .contenedor3 {
            display: grid;
            grid-template-areas:
                "titulot titulot titulot"
                "subtitulot subtitulot subtitulot"
                "tiendaparrafo1 tiendaparrafo1 imagen-tienda"
                "felixfelicis tiendaparrafo2 tiendaparrafo2"
                "tiendaparrafo3 tiendaparrafo3 tiendaparrafo3"
                "card-group card-group card-group"
                "card-group card-group card-group"
                "card-group card-group card-group";

            grid-template-columns: 30% 30% 30%;

            grid-template-rows: 80px 80px 150px 150px 150px 200px 200px 200px;

            justify-content: center;

            justify-items: center;
        }

        .titulot {
            grid-area: titulot;
            color: $amarillo;
            font-size: 40px;
            text-shadow: 2px 2px 4px $blanco;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
        }

        .subtitulot {
            grid-area: subtitulot;
            color: $amarillo;
            font-size: 30px;
            text-shadow: 2px 2px 4px $rojo;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
        }

        .tiendaparrafo1 {
            grid-area: tiendaparrafo1;
            color: $amarillo;
            font-size: 20px;
            text-align: justify;
            padding: 10px;
            display: flex;
        }

        .imagen-tienda {
            grid-area: imagen-tienda;
            object-fit: contain;
            border-radius: 10px;
        }

        .tiendaparrafo2 {
            grid-area: tiendaparrafo2;
            color: $amarillo;
            font-size: 20px;
            text-align: justify;
            padding: 10px;
        }

        .felixfelicis {
            grid-area: felixfelicis;
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 10px;
        }

        .tiendaparrafo3 {
            grid-area: tiendaparrafo3;
            color: $amarillo;
            font-size: 20px;
            text-align: justify;
            padding: 10px;
        }

        .card-group {
            grid-area: card-group;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .card:hover {
            color: $blanco;
            background-color: $rojo;
            box-shadow: 0 4px 16px rgba(119, 4, 4, 0.3);
            transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
        }

    

    .contenedor3 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    .contenedor4 {
        display: grid;
        grid-template-areas:

            "tituloc tituloc tituloc"
            "subtituloc subtituloc subtituloc"
            "descripcionc imagen-curiosidades imagen-curiosidades"
            "descripcionc imagen-curiosidades imagen-curiosidades"
            "listacuriosidades listacuriosidades listacuriosidades";

        grid-template-columns: 30% 30% 30%;

        grid-template-rows: 110px 100px 230px 300px 400px;

        justify-content: center;

        justify-items: center;

    }

    .tituloc {
        grid-area: tituloc;
        color: $amarillo;
        font-size: 40px;
        text-shadow: 2px 2px 4px $blanco;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .subtituloc {
        grid-area: subtituloc;
        color: $amarillo;
        font-size: 30px;
        text-shadow: 2px 2px 4px $rojo;
        justify-content: center;
        align-items: center;
    }

    .imagen-curiosidades {
        grid-area: imagen-curiosidades;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }

    .listacuriosidades {
        grid-area: listacuriosidades;
        color: $amarillo;
        font-size: 20px;
        text-align: justify;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .descripcionc {
        grid-area: descripcionc;
        color: $amarillo;
        font-size: 20px;
        text-align: justify;
        padding: 10px;
        display: flex;
    }

    .contenedor4 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    .contenedor5 {
        display: grid;
        grid-template-areas:
            "titulocontacto titulocontacto titulocontacto"
            "subtitulocontacto subtitulocontacto subtitulocontacto"
            "descripcioncontacto descripcioncontacto imagen-contacto"
            "formulario formulario formulario"
            "formulario formulario formulario";

        grid-template-columns: 30% 30% 30%;

        grid-template-rows: 80px 80px 230px 300px 400px;

        justify-content: center;

        justify-items: center;

    }

    .titulocontacto {
        grid-area: titulocontacto;
        color: $amarillo;
        font-size: 40px;
        text-shadow: 2px 2px 4px $blanco;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .subtitulocontacto {
        grid-area: subtitulocontacto;
        color: $amarillo;
        font-size: 30px;
        text-shadow: 2px 2px 4px $rojo;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    .imagen-contacto {
        grid-area: imagen-contacto;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }

    .descripcioncontacto {
        grid-area: descripcioncontacto;
        color: $amarillo;
        font-size: 20px;
        text-align: justify;
        padding: 10px;
        display: flex;
        object-fit: contain;
    }

    .formulario {
        grid-area: formulario;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .contenedor5 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    .contenedor6 {
        display: grid;
        grid-template-areas:
            "titulou titulou titulou"
            "subtitulou subtitulou subtitulou"
            "descripcionu descripcionu imagen-ubicacion"
            "mapa-ubicacion mapa-ubicacion mapa-ubicacion";

        grid-template-columns: 30% 30% 30%;

        grid-template-rows: 80px 80px 230px 300px 400px;

        justify-content: center;

        justify-items: center;

    }

    .titulou {
        grid-area: titulou;
        color: $amarillo;
        font-size: 40px;
        text-shadow: 2px 2px 4px $blanco;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .subtitulou {
        grid-area: subtitulou;
        color: $amarillo;
        font-size: 30px;
        text-shadow: 2px 2px 4px $rojo;
        justify-content: center;
        align-items: center;
    }

    .descripcionu {
        grid-area: descripcionu;
        color: $amarillo;
        font-size: 20px;
        text-align: justify;
        padding: 10px;
        display: flex;
    }

    .mapa-ubicacion {
        grid-area: mapa-ubicacion;
        width: 100%;
        height: 400px;
        border-radius: 10px;
        object-fit: contain;
    }

    .imagen-ubicacion {
        grid-area: imagen-ubicacion;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }

    @media (max-width: 480px) {
        header {
            display: flex;
            flex-direction: column;
            background-position: center;
        }

        header .logo {
            width: 150px;
            height: auto;
        }

        header ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header a {
            display: flex;
            flex-direction: column;
            font-size: 30px;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            padding-left: 0px;
            padding-right: 4px;
        }

        nav.navegadorprincipal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .titulo {

            display: flex;
            font-size: 20px;
            justify-content: center;

        }

        .subtitulo {
            display: flex;
            font-size: 15px;
            justify-content: center;
        }

        .spotify {
            display: flex;
            font-size: 10px;
            justify-content: center;
        }

        .contenedor {
            grid-template-areas:
                "titulo"
                "subtitulo"
                "spotify"
                "descripcion"
                "imagen1"
                "expertos"
                "imagen2"
                "expertos2"
                "footerlista";

            grid-template-columns: 90%;
            grid-template-rows: auto;
        }

        @media (max-width: 887px) {
            .titulot {
                font-size: 30px;
                justify-content: center;
            }

            .subtitulot {
                font-size: 25px;
                justify-content: center;
            }

            .tiendaparrafo1 {
                font-size: 15px;
                justify-content: center;
            }

            .tiendaparrafo2 {
                font-size: 15px;
                justify-content: center;
            }

            .tiendaparrafo3 {
                font-size: 15px;
                justify-content: center;
            }

            .imagen-tienda {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .felixfelicis {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .card-group {
                grid-area: card-group;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            .contenedor3 {
                grid-template-areas:
                    "titulot"
                    "subtitulot"
                    "tiendaparrafo1"
                    "imagen-tienda"
                    "tiendaparrafo2"
                    "felixfelicis"
                    "tiendaparrafo3"
                    "card-group";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

             header {
                flex-direction: column;
                background-position: center;
            }

            header .logo {
                width: 150px;
                height: auto;
            }

            header ul {
                flex-direction: column;
                align-items: center;
            }

            header a {
                flex-direction: column;
                font-size: 25px;
                width: 10%;
                justify-content: center;
                align-items: left;
                padding-left: 0px;
                padding-right: 4px;
            }

            nav navegadorprincipal {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .titulo {
                font-size: 30px;
                justify-content: center;
            }

            .subtitulo {
                font-size: 25px;
                justify-content: center;
            }

            .spotify {
                font-size: 10px;
                justify-content: center;

            }

            .contenedor {
                grid-template-areas:
                    "titulo"
                    "subtitulo"
                    "spotify"
                    "descripcion"
                    "imagen1"
                    "expertos"
                    "imagen2"
                    "expertos2"
                    "footerlista";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

            .tituloc {
                font-size: 30px;
                justify-content: center;
            }

            .subtituloc {
                font-size: 25px;
                justify-content: center;
            }

            .descripcionc {
                font-size: 15px;
                justify-content: center;
            }

            .imagen-curiosidades {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .listacuriosidades {
                font-size: 15px;
                justify-content: center;
            }

            .contenedor4 {
                grid-template-areas:
                    "tituloc"
                    "subtituloc"
                    "descripcionc"
                    "imagen-curiosidades"
                    "listacuriosidades";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

             .titulocontacto {
                font-size: 30px;
                justify-content: center;
            }

            .subtitulocontacto {
                font-size: 25px;
                justify-content: center;
            }

            .descripcioncontacto {
                font-size: 15px;
                justify-content: center;
            }

            .imagen-contacto {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .formulario {
                width: 90%;
                padding: 10px;
            }

            .contenedor5 {
                grid-template-areas:
                    "titulocontacto"
                    "subtitulocontacto"
                    "descripcioncontacto"
                    "imagen-contacto"
                    "formulario";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

            .titulou {
                font-size: 30px;
                justify-content: center;
            }

            .subtitulou {
                font-size: 25px;
                justify-content: center;
            }

            .descripcionu {
                font-size: 15px;
                justify-content: center;
            }

            .imagen-ubicacion {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .mapa-ubicacion {
                width: 100%;
                height: 300px;
                object-fit: contain;
            }

            .contenedor6 {
                grid-template-areas:
                    "titulou"
                    "subtitulou"
                    "imagen-ubicacion"
                    "descripcionu"
                    "mapa-ubicacion";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

             .contenedor2 {
                grid-template-areas:
                    "titulopf"
                    "giratiempo"
                    "descripcionpf"
                    "accordion";

                grid-template-columns: 90%;
                grid-template-rows: auto;
            }

            .titulopf {
                font-size: 30px;
                justify-content: center;
            }

            .giratiempo {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .descripcionpf {
                font-size: 15px;
                justify-content: center;
            }

        }


       


    }
}

}